html {
    scroll-behavior: smooth;
  }
  *:focus
  {
    outline:none!important;
  }
  
  
  *{
    box-sizing: border-box;
    padding:0;
    margin:0;
  
  }
body{

    overflow-x: hidden;
    min-height: 100vh;
    background: #F1F6FC;
    @media screen and (max-width: 768px){
      padding: 15px 0;
   }
  }